<section fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-card fxFlex="500px" fxFlex.xs="100%">    
      <mat-card-title>{{titulo}}</mat-card-title>      
      <form [formGroup]="personaForm" autocomplete="off" novalidate 
            (ngSubmit)="onSubmit(personaForm.value)" fxLayout="column wrap"
            fxLayoutAlign="center center" fxLayoutGap="10px">
          <mat-card-content>
              <mat-form-field>
                <input matInput type="text" placeholder="Nombre" formControlName="nombre" id="nombreId"/>              
                <mat-error *ngIf="hasError('nombre', 'required')">El nombre es requerido</mat-error>
              </mat-form-field>

              <mat-form-field>
                  <input matInput type="text" placeholder="Apelliddo" formControlName="apellido" id="apellidoId"/>                  
                  <mat-error *ngIf="hasError('apellido', 'required')">El Apellido es requerido</mat-error>                
                </mat-form-field>
                 
                <mat-form-field>
                    <input matInput [matDatepicker]="picker" placeholder="Fecha de Nacimiento" formControlName="fechaNacimiento" id="fechaNacimientoId" 
                        readonly (click)="picker.open()">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                 
                <mat-form-field>
                  <input matInput type="text" placeholder="Tipo de Documento" formControlName="tipoDocumento">          
                  <mat-error *ngIf="hasError('tipoDocumento', 'required')">El Tipo de Documento es requerido</mat-error>                  
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="text" placeholder="Nro de Documento" formControlName="nroDocumento">          
                    <mat-error *ngIf="hasError('nroDocumento', 'required')">El Tipo de Documento es requerido</mat-error>                  
                  </mat-form-field>
          </mat-card-content>
          <div *ngIf="editable; else noEditable">
              <mat-card-actions>
                  <mat-card-actions align="center">
                      <button mat-raised-button color="primary" [disabled]="!personaForm.valid">Editar</button>
                      <!-- <button type="button"> mat-raised-button color="warn" (click)="onCancel()">Cancel</button> -->
                    </mat-card-actions>
              </mat-card-actions>
          </div>
          <ng-template #noEditable>
              <mat-card-actions>
                  <mat-card-actions align="center">
                      <button mat-raised-button color="primary" [disabled]="!personaForm.valid">Crear</button>
                      <!-- <button type="button"> mat-raised-button color="warn" (click)="onCancel()">Cancel</button> -->
                    </mat-card-actions>
              </mat-card-actions>
          </ng-template>          
      </form>
    </mat-card>
</section>